.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  border-bottom: 1px solid #666666;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.search-area input {
  border: 0;
}

.login-btn {
  border: 0;
  background-color: transparent;
}
