body {
  background: url(https://cdn.britannica.com/74/182174-050-6755AB49/balloon-sky.jpg)
    no-repeat;
  height: 100vh;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background: azure;
}
